body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 231, 231);
    background-color: #212930;
    
}
.header{
    line-height: 5px;
    text-align: center;
    background-color:#11151A;
    padding: 50px 18px;
}
.head-text{
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}
.head-para{
    font-weight: 600;
}
.logo-img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100px;
    border-width: 1px;
    background-color: black;
}
.icons{
    color: white;
    padding: 0 14px 0 0;
   
}
.icons:hover{
    color: whitesmoke;
    transition: 0.3s linear;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0;
    transition-property: color;
}

.connect{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 25px 14px;
    text-transform: capitalize;
}
.social{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 25px 14px;
    text-transform: capitalize;
}
.card a{
    color: white;
}
.card{
    background-color: #212939;
    border-radius: 15px;
    padding: 14px 18px;
    margin-bottom: 20px;
}

.calender{
    color: rgb(156, 30, 30);
}
.Birthday{
    padding: 20px;
}
.arrow{
    padding: 40px;
}
.btn-dark{
    display: none;
}


/* card image swipper start*/
.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: black;
    padding: 40px 0;
}
.slide-content{
    display: none;
    margin: 0 40px;
    background-color: #212930;
    overflow: hidden;
    border-radius: 25px;
    border-bottom-width: 50px;
}
.card{
    border-radius: 25px;
    background-color: #11151A;
}
.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #222a33;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #222a33;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #11151A;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #11151A;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #efefef;
}
.description{
    font-size: 14px;
    color: #dfdfdf;
    text-align: center;
    text-transform: capitalize;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #212930;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #323c44;
}
.swiper-navBtn{
    color: #323c44;
    transition:  color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #242b31;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullets{
    opacity: 1;
}
.swiper-pagination-bullets-active{
    background-color: #fff;
}


/* Second section */
.facebook{
    font-size: 100px;
    color: rgba(8, 59, 226, 0.795);
}
.whatsapp{
    font-size: 100px;
    color: rgba(3, 161, 3, 0.836);
}
.instagram{
    font-size: 100px;
    color: rgba(248, 35, 35, 0.918);
}

.footer{
    text-align: center;
    padding: 20px 18px;
    margin: 50px 250px;
    background: #11151A;
    border-radius: 50px;
    font-size: 15px;
}




@media only screen and (max-width: 650px) {
    body{
        padding: 0;
        margin: 0;
    }
    .head-para{
        font-size: 13px;
        line-height: normal;
        font-weight: 800;
    }

    .head-text{
        font-size: 30px;
        letter-spacing: -1px;
    }
    .arrow{
        display: none;
    }
    .card{
        background-color: black;
        display: none;
        width: 90%;
    }
    .btn-dark{
        display: block;
        align-items: center;
    }
    .overlay::after{
        background-color: black;
    }
   .slide-content{
    display: flex;
    background-color: black;
   }
   .social, .connect{
    font-size: 22px;
   }
   .social-description, .description{
    font-size: 14px;
    font-weight: 100;
   }
   .social-name{
    font-size: 20px;
   }
   .footer{
    margin: 0;
    padding: 0;
    font-size: -20px;
   }
}